div#wrapper {
	width: 800px;
	background-color: #DEDEDE;
	margin: auto;
	padding: 25px;
}
h1 {
	font-style: small-caps;
}
p {
	text-align: justify;
	font-family: "Times New Roman", serif;
	font-size: 25px;
}
